nav {
    display: flex;
    justify-content: space-between;
    background-color: #076bce;
    padding: 16px;
}

.navbar-brand {
    display: flex;
}
.navbar-brand img{
    width: 50px;
}

#main-title {
    text-align: center;
    margin: 15px 0 30px; 
}

.scrollable-container {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    /* display: flex; */
    align-items: center;
    justify-content: center; 
}
footer {
	background-color: #076bce;
	color: #fff;
	padding: 10px;
	text-align: center;
	bottom: 0;
    position: absolute;
    width: 100%;
}


@media (max-width: 768px) {
    header {
        width: 100%;
    }
    header nav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header nav .column {
        width: 100%;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
    }
    #main-title {
        margin: 10px 0 20px;
    }
    .main-container {
        padding-bottom: 30px;
    }
}